#asales-header-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: -7px;
	min-width: 952px;
	width: auto !important;
	position: relative;
	background: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
	height: 100px;
	overflow: hidden;
	padding: 24px 44px;
	color: rgba(255,255,255,0.5);
}


#asales-search {
	position: absolute;
	left: 30%;
	width: 35%;
}

#asales-search #asales-search-box {
	position: absolute;
	left: 0px;
	right: -60px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(0,0,0,0.25);
	height: 28px;
	padding-left: 4px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	margin: 0;
	outline: none;
	width: 100%;
}

#asales-search-button {
	padding-top: 0;
	padding-bottom: 1px;
	position: absolute;
  left: 105% ;
}

#asales-search-button img {
  vertical-align: middle;
  margin-top: -3px;
}

#asales-logo {
	display: block;
	height: 37px;
	vertical-align: top;
	text-decoration: none;
	position: absolute;
}

#asales-logo img {
	width: 12%;
	vertical-align: top;
	top: -20px;
	margin-left: 5%;
	position: relative;
}

#asales-discounted-items {
  margin-top: 5em;
}
#asales-menu-tabs {
    position: absolute;
    display: flex;
    z-index: 100;
    margin-left: 80px;
}

.tabs {
    display: inline;
    padding: 10px;
    margin: 2px;
    background: #C7BEBE;
    min-width: 90px;
    max-width: 90px;
    max-height: 16px;
    -webkit-box-shadow: 0 0 22px 5px #f1f1f1;
}

.tabs:hover {
  -webkit-box-shadow: 0 0 10px 2px #5F5959;
}

.tabs a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.tabs ul {
    display: none;
    background: #C7BEBE;
    padding-left: 0px;
    margin-top: 7px;
}

.tabs:hover ul {
    display: -webkit-inline-box;

}

.tabs li {
    border-radius: 2px;
    display: inline-block;
    padding: 8px;
    margin-left: -10px;
    background: #C7BEBE;
    width: 100%;
    padding-right: 12px;
}

.tabs li:hover {
    -webkit-box-shadow: 0 0 10px 2px #4B4242;
    background: rgb(221, 221, 217);;
}
/*#asales-categories-tabs {*/
  /*height: 25px;*/
  /*width: 100%;*/
  /*margin-top: 5%;*/
  /*margin-left: 8%;*/
  /*margin-bottom: 5%;*/
/*}*/

/*#asales-categories-tabs ul {*/
  /*padding: 0;*/
/*}*/

/*#asales-categories-tabs #asales-men-tab,*/
/*#asales-categories-tabs #asales-women-tab,*/
/*#asales-categories-tabs #asales-kids-tab,*/
/*#asales-categories-tabs #asales-electronics-tab {*/
  /*display: inline;*/
  /*margin: 0;*/
/*}*/

/*#asales-men-tab #asales-men-submenu,*/
/*#asales-women-tab #asales-women-submenu,*/
/*#asales-kids-tab #asales-kids-submenu,*/
/*#asales-electronics-tab #asales-electronics-submenu {*/
  /*display: none;*/
/*}*/

/*#asales-men-tab:hover #asales-men-tab:first-child,*/
/*#asales-women-tab:hover #asales-women-tab:first-child,*/
/*#asales-kids-tab:hover #asales-kids-tab:first-child,*/
/*#asales-electronics-tab:hover #asales-electronics-tab:first-child {*/
  /*color: black;*/
/*}*/

/*#asales-men-tab:hover #asales-men-submenu,*/
/*#asales-women-tab:hover #asales-women-submenu,*/
/*#asales-kids-tab:hover #asales-kids-submenu,*/
/*#asales-electronics-tab:hover #asales-electronics-submenu {*/
  /*display: table;*/
/*}*/

/*#asales-categories-tabs li a {*/
  /*padding: .5em 2em 0.5em 2em;*/
  /*cursor: pointer;*/
  /*background-color: #f5f5f5;*/
  /*border: 1px solid lightgray;*/
  /*color: grey;*/
/*}*/

/*.asales-tabs {*/
  /*font-weight: bold;*/
  /*font-size: 18px;*/
  /*border-right-color: transparent !important;*/
/*}*/
a {
  text-decoration: none !important;
}

.button-blue {
	background-color: #4d90fe !important;
	border-color: #3079ed !important;
	color: #fff !important;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d90fe), color-stop(100%, #4787ed)) !important;
	background-image: -webkit-linear-gradient(top, #4d90fe,#4787ed) !important;
	background-image: -moz-linear-gradient(top, #4d90fe,#4787ed) !important;
	background-image: -o-linear-gradient(top, #4d90fe,#4787ed) !important;
	background-image: linear-gradient(top, #4d90fe,#4787ed) !important;
}

.button {
	background-color: #f5f5f5;
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	color: #666;
	cursor: default;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	font-family: "Arial",sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
	background: -webkit-linear-gradient(top, #f5f5f5,#f1f1f1);
	background: -moz-linear-gradient(top, #f5f5f5,#f1f1f1);
	background: -o-linear-gradient(top, #f5f5f5,#f1f1f1);
	background: linear-gradient(top, #f5f5f5,#f1f1f1);
	-webkit-transition: all,0.218s;
	-moz-transition: all,0.218s;
	-o-transition: all,0.218s;
	transition: all,0.218s;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

ul {
  list-style: none !important;
}
.asales-home-categories {
  margin-left: 10%;
  font-size: larger;
  font-weight: bold;
  color: grey;
}

#asales-men-discounted-items,
#asales-women-discounted-items,
#asales-kids-discounted-items,
#asales-electronics-discounted-items {
  border: 1px solid grey;
  height: 285px;
  margin-left: 10%;
  padding-left: 0px;
  position: relative;
  width: 80%;
  max-width: 80%;
}

.asales-discounted-image {
  width: 38%;
}

.asales-discounted-image img {
  height: 300px;
  width: 35%;
  float: left;
} 

.asales-discounted-item-info {
  float: right;
  margin-top: 2%;
  font-weight: bold;
  font-size: large;
  margin-right: 10%;
  color: black;
}

.asales-add-to-cart-btn {
  width: 90%;
  height: 50px;
  font-size: large;
}
.view-pane {
  display: flex;
  margin-top: 20px;
}

.tool-bar {
  height: 50px;
  margin-top: 50px;
  border-bottom: 1px solid #e5e5e5;
}

#left-pane {
  width: 20%;
}

#right-pane {
  width: 80%;
}

#list-view-button,
#grid-view-button {
  float: right;
  margin: 1px;
  min-width: 25px;
}

.asales-table {
  margin-top: 15px;
}

.asales-table > table {
  -webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
}

.list-icon {
  background: no-repeat url(/images/icon.png) -134px -122px;
  background-size: 163px 320px;
  width: 21px;
  height: 21px;
}

.grid-icon {
  background: no-repeat url(/images/icon.png) -122px -100px;
  background-size: 167px 322px;
  width: 21px;
  height: 21px;
}

.button-active,
.button-active {
  -webkit-box-shadow: 0px 1px 5px 1px #888888;
}

#list-view {
  display: none;
}

#grid-view {
  width: 100%;
  min-height: 26em;
  background: rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.tile {
  display:inline-block;
  width: 29%;
  background: white;
  height: 20em;
  margin: 1.6%;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);:w

}

.tile-header {
  display: flex;
  margin: 12px;
}

.tile-price {
  display: flex;
  margin-left: 14%;
}

.tile-icon img {
  width: 90%;
  -webkit-box-shadow: 0px 0px 7px 0px blue;
  margin-left:5%;
  height: 220px;
}

.tile-container {
  display: inline-block;
}

.tile-title, .tile-price {
  font-size: 13px;
  font-weight: normal;
  font-family: arial,sans-serif;
}

.tile-slider {
  background: blue;
  opacity: 0.5;
  position: relative;
  top: -82.3%;
  height: 0px;
  transition-property: height;
  transition-duration: 3s;

  /* Safari */
  -webkit-transition-property: height;
  -webkit-transition-duration: 3s;
}

.tile:hover .tile-slider {
  height: 100%
}

.tile-slider-info {
  color: aliceblue;
  position: relative;
  top: 75%;
  left: 3%;
}

.tile-slider-info {
  position: relative;
  left: -35px;
}

.tile-brand-name {
  font-weight: bolder;
  position: relative;
  top: -10px;
}

.tile-desc {
  max-width: 185px;
}
/*This file contain all the style for table.*/

.data-table {  width: 100%;
  table_layout: fixed;
  border-spacing: 0;
}

.data-table .data-table-header {
  -webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  height: 24px;
}

.data-table-header {
  color: #555;
  font-family: arial,sans-serif;
  font-size: 11px;
}

.data-table-header th {
  background: white;
  border-bottom: 1px solid #e5e5e5;
  empty-cells: show;
  font-size: 13px;
  font-weight: normal;
  overflow: hidden;
  padding: 5px 5px 5px 6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1;
  zoom: 1;
}

.data-table-header:hover {
  background: aliceblue;
}

.data-table tr {
  height: 30px;
}

.data-table-tr {
  -webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
}

.data-table .data-table-tr td {
  border-bottom: 1px solid #e5e5e5;
  empty-cells: show;
  font-family: arial,sans-serif;
  font-size: 14px;
  padding-left: 5px;
}

.data-table .data-table-tr td img {
  width: 80px;
  height: 40px;
}
.data-table .data-table-tr:hover {
  background: rgba(250, 235, 215, 0.5);
}
.asales-detail-popup {
  display: none;
}

.popup-tool-tip {
  -webkit-box-shadow: 0px 0px 15px 5px #888888;
  background: white;
  border-radius: 8px;
  display:flex;
  height: 13em;
  opacity: 1;
  position: absolute;
  width: 40%;
  z-index: 1000;
}

.popup-info {
  margin-left: 9px;
  margin-top: 20px;
  width: 110%;
}

.popup-info div {
  padding: 10px;
}

.item-icon {
  width: 90%;
}

.item-icon img {
  width: 100%;
  margin-top: 10%;
  margin-left: -4%;
  -webkit-box-shadow: 0px 0px 13px 0px rgb(43, 43, 201);
}

.title {
  font-family: arial,sans-serif;
  font-size: 17px;
}

.description {
  max-width: 250px;
}
/*stylesheets for slider with two mobs.*/


.slider {
  position: relative;
  width: 15px;
  height: 30px;
  font: normal 18px verdana;
  background-color: #EEE;
  color: #000;
  text-align: end;
  border: 1px solid #999;
  cursor: default;

}

#slider_base {
  border-radius: 20px;
  position: relative;
  height: 5px;
  width: 95.3%;
  font-size: 1px;
  background-color: #999;
  margin-top: 20px;
}
  
.price-controller {
  position: relative;
  top: -11px;
}

#slider_max {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 79%;
}

#slider_min {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

#slider_min:hover,
#slider_max:hover,
#slider_min:active,
#slider_max:active {
  -webkit-box-shadow: 0 0 6px 1px blue;
}
/*File for style on filter options.*/

.filter-panel {
  background: rgba(0,0,0,.2);
  height: 26em;
  margin-right: 5px;
  padding-right: 0px;
}

.filter-title {
  padding: 5px;
  padding-left: 13px;
  border-bottom: white 2px solid;
  margin-left: 11px;
  margin-right: 11px;
  font-family: arial, sens-serif;
  font-size: 16px;
}

.filter-options {
  padding-left: 0px;
}

.filter {
  margin-right: 71px;
  margin-bottom: 15px;
  min-width: 55%;
  background: white;
  -webkit-box-shadow: 0px 0px 15px -2px blue;
  border-radius: 5px;
  width: 80%;
}

.option, .options-title {
  padding: 5px;
  font-family: arial, sens-sarif;
  font-size: 15px;
  width: 100%;
}

.option input[type="checkbox"] {
  margin-right: 10px;
}

.filtered-price {
  display: flex;
}

.price-filter {
  width:108%;
  margin-left: -29px;
}

.filter input[type='textBox'] {
  margin: 20px;
  margin-bottom: 10px;

}

/*This file contain styles for carousel.*/


.carousel-main {
  display: flex;
  height: 100%;
  max-width: 100%;
  padding: 0px;
  width: 100%;
}

.carousel-tile {
  border: 1px solid rgb(0, 214, 255);
  height: inherit;
  width: 30%;
  transition-property: width;
  transition-duration: 2s;
  -webkit-transition-property: width;
  -webkit-transition-duration: 2s;
}

.carousel-tile img {
  height: 100%;
  width: 100%;
}

