.asales-home-categories {
  margin-left: 10%;
  font-size: larger;
  font-family: fantasy;
  color: brown;
}

#asales-men-discounted-items,
#asales-women-discounted-items,
#asales-kids-discounted-items,
#asales-electronics-discounted-items {
  border: solid;
  width: 60%;
  margin-left: 10%;
  height: 350px;
  position: relative;
}

.asales-discounted-image {
  width: 38%;
}

.asales-discounted-image img {
  height: 300px;
  width: 35%;
  float: left;
} 

.asales-discounted-item-info {
  float: right;
  margin-top: 2%;
  font-weight: bold;
  font-size: larger;
  margin-right: 10%;
}

.asales-add-to-cart-btn {
  width: 90%;
  height: 50px;
  font-size: larger;
}
