.view-pane {
  display: flex;
  margin-top: 20px;
}

.tool-bar {
  height: 40px;
  margin-top: 50px;
  border-bottom: 1px solid #e5e5e5;
}

#left-pane {
  width: 20%;
}

#right-pane {
  width: 80%;
}

#list-view-button,
#grid-view-button {
  float: right;
  margin: 1px;
  min-width: 25px;
}

.tile-container .no-result-found {
  margin: 12px;
}

.no-result-found {
  font-family: sans-serif;
  color: red;
  font-size: larger;
}

.asales-table {
  padding: 12px;
}

.asales-table > table {
  -webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  -o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
  transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
}

.list-icon {
  background: no-repeat url(/images/icon.png) -134px -122px;
  background-size: 163px 320px;
  width: 21px;
  height: 21px;
}

.grid-icon {
  background: no-repeat url(/images/icon.png) -122px -100px;
  background-size: 167px 322px;
  width: 21px;
  height: 21px;
}

.price-container {
  display: flex;
}

.tile:hover {
-webkit-transform: scale(1.2,1.2);
}

.button-active,
.button-active {
  -webkit-box-shadow: 0px 1px 5px 1px #888888;
}

#grid-view {
  display: none;
}

.items-info-container {
  width: 100%;
  min-height: 26em;
  background: rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.tile {
  display:inline-block;
  width: 30%;
  background: white;
  height: 20em;
  margin: 1.6%;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);:w

}

.tile-header {
  margin: 5px;
}

.tile-price {
  display: flex;
  margin-left: 5%;
}

.tile-icon img {
  width: 92%;
  -webkit-box-shadow: 0px 0px 7px 0px blue;
  margin-left:4%;
  height: 260px;
}

.tile-container {
  display: inline-block;
  width: 100%;
}

.tile-icon {
  margin-top: 10px;
}

.tile-header {
  text-align: center;
  margin-bottom: 3px;
}

.tile-title {
  max-height: 16px;
  overflow: auto;
}

.tile-title, .tile-price {
  font-size: 14px;
  font-weight: normal;
  font-family: arial,sans-serif;
}

.tile-slider {
  background: blue;
  opacity: 0.5;
  position: relative;
  top: -82.3%;
  height: 0px;
  transition-property: height;
  transition-duration: 3s;

  /* Safari */
  -webkit-transition-property: height;
  -webkit-transition-duration: 3s;
}

.tile:hover .tile-slider {
  height: 100%
}

.tile-slider-info {
  color: aliceblue;
  position: relative;
  top: 75%;
  left: 3%;
}

.tile-slider-info {
  position: relative;
  left: -35px;
}

.tile-brand-name {
  font-weight: bolder;
  position: relative;
  top: -10px;
}

.tile-desc {
  max-width: 185px;
}

.items-page-info {
  float: left;
  margin: 15px;
}
