/*File contains style rules for item.html*/


#asales-item-detail-container {
  border-top: 1px solid grey;
  margin-top: 8%;
}

.asales-item-detail {
  padding: 5%;
  margin: 2% 10% 0 10%;
  -webkit-box-shadow: 0 0 10px 2px;
}

.asales-item-detail-overview {
  display: flex;
  padding-bottom: 15px;
}

.asales-item-detail-icon {
  width: 35%;
  max-width: 350px;
  max-height: 410px;
}

.asales-item-detail-icon:hover {
  -webkit-box-shadow: 0px 0px 10px 0px blue;
}

.asales-item-detail-icon img {
  width: 100%;
  max-height: 100%;
}

.asales-right-aligned {
  padding-left: 5%;
}

.asales-item-detail-name {
  font-weight: bolder;
  font-size: x-large;
}

.asales-item-details {
  font-family: sans-serif;
  text-align: left;
  margin-top: 1%;
}

.asales-rating {
  padding: 1%;
  background: antiquewhite;
  color: red;
  width: 40%;
}
 
#asales-add-to-cart-btn {
   width: 35%;
   height: 40px;
   font-size: large;
   margin-top: 0;
   font-weight: 500;
}
.asales-starred-star {
 color: rgb(233, 233, 53);
}

.asales-unstarred-star {
  color: white;
}

/*.asales-rating-count {*/
  /*margin-left: 10px;*/
/*}*/

.asales-item-brand-name {
  text-align: -webkit-auto;
  margin-left: 5%;
  font-size: large;
  color: grey;
}

.asales-item-final-price {
  font-size: 35px;
  text-align: left;
  margin: 5%;
}

.asales-item-discount-pane {
  display: flex;
  margin: 5%;
}

.asales-item-discount-container {
  padding: 3%;
  color: white;
  font-family: sans-serif;
  font-size: smaller;
  background: red;
  -webkit-border-radius: 4px;
  width: 60%;
  text-align: center;
}

.asales-item-origional-price {
  padding: 3%;
  font-family: sans-serif;
  text-decoration: line-through;
  width: 40%;
}

.in-stock {
  font-family: sans-serif;
  font-size: larger;
  color: grey;
}

#asales-item-description {
  border-top: 1px solid grey;
  padding: 2%;
  font-family: sans-serif;
}


