.asales-detail-popup {
  display: none;
}

.popup-tool-tip {
  -webkit-box-shadow: 0px 0px 15px 5px #888888;
  background: white;
 border-radius: 8px;
  display: flex;
  height: inherite;
  margin-left: 35%;
  opacity: 1;
  position: absolute;
  width: 35%;
  z-index: 1000;
}

.popup-tool-tip:before {
  border-color: hsla(203, 13%, 52%, 0);
  border-right-color: hsla(0, 0%, 0%, 0.05);
  border-width: 21px;
  margin-top: -21px;

}

.popup-tool-tip:before, .popup-tool-tip:after {
  border: solid hsla(0, 0%, 0%, 0);
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;

}

.popup-tool-tip:after {
  border-color: hsla(203, 48%, 68%, 0);
  border-right-color: hsl(0, 100%, 100%);
  border-width: 18px;
  display: block!important;
  margin-top: -18px;

}
.popup-info {
  margin-left: 9px;
  margin-top: 20px;
  width: 110%;
}

.popup-info div {
  padding: 9px;
}

.item-icon {
  min-width: 167px;
  width: 41%;
}

.item-icon img {
  width: 100%;
  height: 100%;
  max-height: 195px;
  margin-top: 4%;
  margin-left: -4%;
  -webkit-box-shadow: 0px 0px 13px 0px rgb(43, 43, 201);
}

.title {
  font-family: arial,sans-serif;
  font-size: 17px;
}

.description {
  max-width: 250px;
}
