/**
 * @fileoverview This file contains all the soy templates related to the
 *      application.
 */

{namespace asales.templates}


/**
 * Template for item
 */
{template .item}

{/template}


/**
 * Template for a particular category discounted item.
 */
{template .categoryDiscountedItem}

{/template}

