<!Doctype html>

<html>
  <head>
    <title>Online shopping with algoholics groups</title>
  </head>
  <link rel='stylesheet' type="text/css" href=/styles/asales.css>
  <body>
     <div id="google_bar">
       <a id="gc-logo" href="/">
         <img src="/images/finalLogo2.jpg" alt="Google">
       </a>
       <form class="gc-search" action="" method="GET">
         <div id="searchbox" class="searchbox" style="">
	   <input type="text" name="q" class="q" id="q" value="" placeholder="Search"  style="width: 100%;">
	 </div>
	 <button id="search-button" class="button button-blue" style="top: 0px; left: 414px;">
	   <img src="/images/search.png" alt="Search">
	 </button>
       </form>
     </div>

     {% block body %}
     {% endblock %}
  </body>
</html>
