<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html language="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
      <link rel="stylesheet" type="text/css" href=/styles/asales.css>
      <div id="asales-header-bar">
	<ul>
	  <li>{{user-email}}</li>
	  <li>
	    <a href="/">Sign Out</a>
	  </li>
	</ul>
      </div>
      <div id="asales-google-bar">
	<a id="asales-logo" href="/"><img src="/images/aales_logo.jpg" alt="Google"></img></a>
	<form class="gc-search" action="" method="GET">	
	</form>
      </div>

    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
<script>
  {% block jsblock %}
  {% endblock jsblock %}
</script>
       <form class="gc-search" action="" method="GET">
         <div id="searchbox" class="searchbox" style="">
	   <input type="text" name="q" class="q" id="q" value="" placeholder="Search"  style="width: 100%;">
	 </div>
	 <button id="search-button" class="button button-blue" style="top: 0px; left: 414px;">
	   <img src="/images/search.png" alt="Search">
	 </button>
       </form>
     </div>
  </body>
</html>
