{% extends "base.html" %}
{% block body %}
  <div id='asales-discounted-items'>
    {% for category, discounted_items in category_discounted_items.iteritems() %}
      <a class='asales-home-categories' href='/items/?category={{ category }}'>{{ category }}</a>
      <ul id='asales-{{ category|lower }}-discounted-items'>
        {% for discounted_item in discounted_items %}
          <li id='asales-{{ category|lower }}-discounted-item'>
          <a href='/item/?category={{ category }}&item={{discounted_item.id}}' class='asales-discounted-image'><img src='/images/{{ discounted_item.id ~ ".jpg" }}' alt='Item'></a>
          <p>Actual Cost: {{ discounted_item.actual_cost }}</p>
          <p>Discount: {{ discounted_item.discount }}</p>
          <p>Discounted Cost: {{ discounted_item.discounted_cost }}</p>
          <input type='button' class='asales-add-to-cart-btn button button-blue' value='Add to Cart'>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock %}

